
<form [formGroup]="bootForm" class="container-fluid mb-5">

    <div>
       boot: {{bootForm.value | json}}
       </div>

    <!-- bootFile: [ 'Select Progr File' ],
    address:  [3],
    chipType: ['ATmega8','ATMega164','ATMega664','STM32F1','STM32F4'],
    serialNo: [1] -->


    <div >
        <label for="bootFile" >Выберите файл программы (*.bin)</label>
        <input  type="file"
        class="form-control-file"
              id="bootFile"
              formControlName="bootFile"
              aria-describedby="fileHelpId">
        <small id="fileHelpId" class="form-text text-muted">файл инфо</small>
        <hr>
    </div>

    <div class="form-group row" *ngIf="div1">
        <label for="address" class="col-sm-4 col-form-label">Адрес прибора</label>
      <div class="col-sm-8">
        <input type="number"
             class="form-control"
             id="address"
             formControlName="address"/>
      </div>
      </div>
      <!-- <small id="bootFileHelpId" class="form-text text-muted">{{bootFileHelp}}</small> -->

      <div class="form-group row">
        <label for="serialNo"class="col-sm-4 col-form-label">Серийный номер</label>
        <div class="col-sm-8">
        <input type="number"
             class="form-control"
             id="serialNo"
             formControlName="serialNo"/>
        </div>
      </div>

      <hr>
      <!-- [style.margin-bottom.rem]="0.5" -->
      <label for="ress">Прогресс</label>
      <div class="progress">
          <div class="progress-bar" role="progressbar" id="ress"
          [style.width.%]="prWidth"
          aria-valuenow = "prWidth"
          aria-valuemin="0"
          aria-valuemax="100">{{prWidth}}%</div>
      </div>

      <div class="form-group">
        <label for="chipType">Тип чипа</label>
        <select class="form-control" formControlName="chipType" id="chipType">
          <option *ngFor="let chipTypeitem of bootForm.controls['chipType']" [ngValue]="chipTypeitem">{{chipTypeitem}}</option>
        </select>
      </div>

    <!-- <select [formControl]="chipType" id ="chipType" ></select> -->

  <!-- <label for="email">email</label> -->
  <!-- <input type="text" class="btn btn-light" id="email" formControlName="email" /> -->
  <!-- <br/><br/> -->

  <!-- <button type="submit">отправить</button> -->
</form>
