<div class="container-fluid mb-5">
  <h1>bootloader</h1>
  <form #userForm="ngForm">

    {{userForm.value | json}}

    <div class="form-group">
      <label for="file1bor">borfilters</label>
      <input type="file" 
             class="form-control-file" 
             name="file1bor" 
             id="file1bor" 
             placeholder="11" 
             aria-describedby="fileHelpId"
             [(ngModel)]="file">
      <small id="fileHelpId" class="form-text text-muted">Help text</small>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>

